@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .fade-in {
    animation: fadeIn 0.4s ease-in;
  }
  @keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
  }
}
